*{
    box-sizing: border-box;
}

:root {
    --main: pink;
    --second: black;
    
}



header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;  
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
}

.banner {
    background-image: url();
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  
}

.banner h2 {
    display: inline;
    margin: 0;
    padding: 5px 10px;
  
}


main {
    margin-top: 15px;
    margin-bottom: 30px;  
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.flexbox {
    display: flex;
    align-items: flex-end;
    background-color: grey;  
    background-size: 150%;
    padding: 0 0 20px 0;
    min-height: 150px;
    max-height: 150px;
  
}

#page-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 2px 2px 2px 2px;
    padding: 1px 1px 1px 1px;
}


.project1 {
    background-image: url();
}

.quiz {
    background-image: url();
}

.calender {
    background-image: url();
}

@media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }
  
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
  
    header nav {
      justify-content: center;
    }
  
    .page-section > h2,
    .page-section > div {
      flex: 0 0 100%;
    }
  
    .page-section > h2 {
      border-right: none;
      border-bottom: 4px solid var(--primary);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 7vw;
    }
  }
  
  @media screen and (max-width: 768px) {
    .flex-item,
    .flex-item:first-child {
      flex-basis: 100%;
    }
  
    .flex-item:first-child {
      min-height: 150px;
    }
  
    .hero-banner {
      justify-content: center;
      text-align: center;
    }
  
    .contact address {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  